{% extends "base.html" %}{% block title %}Home{% endblock %} {% block content %}

<head>
    <style>
        .redirect1 {
            margin: 15px;
            width: 100%;
            margin: 5px;
            height: 100px;
        }
    </style>
</head>
<div class="center" style="width:50%">
    <div class="main">
        <h2 style="text-align: center;">Hello {{ current_user.username }}</h2>
        <a href="rooms.html" class="btn btn-dark">Rooms</a>
        <div class="links" style="width:100%;">
            <button type="button" class="redirect1 btn btn-dark" data-bs-toggle="collapse" data-parent=".links" data-bs-target="#create-room" aria-expanded="false" aria-controls="create-room">Create Room</button>
            <button type="button" class="redirect1 btn btn-dark" data-bs-toggle="collapse" data-parent=".links" data-bs-target="#join-code" aria-expanded="false" aria-controls="join-code">Join</button>

        </div>
        <form method="POST" onsubmit="return validate_code(event);">
            <div class="collapse form-floating" id="join-code">

                <input type="text" name="code" class="form-control" id="code" placeholder="Code" maxlength="6">


            </div>
        </form>
        <form method="POST">
            <div class="collapse form-floating" id="create-room">

                <input type="text" name="create-code" class="form-control" id="create-code" placeholder="Code" maxlength="6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                <input type="text" name="description" class="form-control" id="description" placeholder="Summary">
                <input class="btn btn-primary" type="submit" value="Submit">

            </div>
        </form>
    </div>
</div>
<script src="../static/js/home_chat.js"></script>

{% endblock content %}