{% extends "base.html" %}{% block title %}Signup{% endblock %} {% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename ='css/signup.css')}}">
</head>
<div class="split-screen">
    <div class="left">
        <section class="copy move-up">
            <h1>Maths Chat</h1>
            <p>Chat with students online</p>
        </section>
    </div>
    <div class="right">
        <form method="POST">
            <section class="copy">
                <h2>Sign Up</h2>
                <div class="login-container">
                    <p>Already have an account? <a href="/login"><strong>Login</strong></a></p>
                </div>
            </section>
            <div class="input-container name">
                <label for="uname">Username: </label>
                <input type="text" id="uname" name="uname">
            </div>

            <div class="input-container email">
                <label for="uname">Email: </label>
                <input type="email" id="email" name="email">
            </div>

            <div class="input-container password ">
                <label for="pwd">Password: </label>
                <input type="password" id="pwd" name="pwd" placeholder="">
                <!-- Need to add a box that has requirements for password -->
                <i class="far fa-eye-slash" id="show-btn" onclick="show('pwd');"></i>
                <p class="password-req">Passwords must contain at least 1 uppercase and lowercase letter, number and symbol.</p>
            </div>
            <div class="input-container cta">
                <label for="">
                <input type="checkbox">
                <span class="checkmark"></span>
                Sign up for Email
              </label>
            </div>
            <button class="send-btn" type="submit">Sign Up</button>
            <section class="copy legal">
                <p><span class="small">By continuing you agree to agree with Mohamed Sharif's terms and conditions</span></p>
            </section>
        </form>
    </div>
</div>
</div>
<script src="../static/js/signup.js"></script>
{% endblock content %}